:root {
    --achromatic: 0, 0%;
    --blue: hsl(220, 40%, 30%);
    --blue-darker: hsl(220, 40%, 20%);
	--blue-lighter: hsl(220, 40%, 40%);
    --blue-lightest: hsl(220, 20%, 60%);
    --font-color: hsl(210, 14%, 95%);
    --red-suit: hsl(0, 100%, 50%);
    --black-suit: hsl(var(--achromatic), 0%);
	--shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
	--shadow-pressed: rgba(0, 0, 0, 0.6) 0px 2px 8px;
	--shadow-light: rgba(0, 0, 0, 0.2) 0px 3px 8px;
	--yellow: hsl(40, 90%, 60%);
	--yellow-active: hsl(40, 100%, 50%);
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
    /* disable double tap to zoom */
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(var(--blue-lighter) 0%, var(--blue) 50%);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-size: 100%;
    font-family: 'Secular One', sans-serif;
    background-repeat: no-repeat;
}

button {
    background-color: var(--yellow);
    color: var(--blue-darker);
    border: none;
    padding: 1.5vmin 3vmin;
    margin: 2vmin;
    font-size: 1em;
    font-family: 'Secular One', sans-serif;
    border-radius: 1vmin;
    cursor: pointer;
	box-shadow: var(--shadow);
}

button:active {
	box-shadow: var(--shadow-pressed);
	background-color: var(--yellow-active);
	transform: translateY(1px);
}

input[type=range] {
    width: 40vmin;
    margin: 2vmin;
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    background: var(--yellow);
    outline: none;
    border-radius: 15px;
	box-shadow: var(--shadow);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  background: url('../icons/chip.svg'), var(--yellow);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

input[type=range]::-moz-range-thumb {
  width: 45px;
  height: 45px;
  background: url('../icons/chip.svg'),  var(--yellow);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

output {
    text-align: center;
    min-width: 6vmin;
	color: var(--yellow);
    font-size: 1.2em;
}

.hidden {
    display: none;
}

/*
-------------------------------------------------------------------
GRID
-------------------------------------------------------------------
*/
main {
    width: 100vw;
    height: 100vh;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

main .seat {
    width: 22vmin;
    min-width: 110px;
    transition: all 0.5s;
}

.seat:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.seat:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.seat:nth-of-type(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.seat:nth-of-type(4) {
    grid-area: 3 / 1 / 4 / 2;
}

.seat:nth-of-type(5) {
    grid-area: 3 / 2 / 4 / 3;
}

.seat:nth-of-type(6) {
    grid-area: 3 / 3 / 4 / 4;
}

#table-middle {
    grid-area: 2 / 1 / 3 / 4;
}

/*
-------------------------------------------------------------------
SINGLE VIEW
-------------------------------------------------------------------
*/

#single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/*
-------------------------------------------------------------------
TABLE-MIDDLE
-------------------------------------------------------------------
*/

#table-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

#table-middle.infos {}

#community-cards {
    display: flex;
	/*width: 100vw;
	max-width: 1100px;*/
    gap: 1.5vmin;
	/*justify-content: space-around;*/
}

#community-cards div {
    flex: 0 0 auto;
}

.cardslot {
    width: 18vmin;
    height: 25.2vmin;
    border-radius: 1vmin;
}

.cardslot:empty {
    background-color: var(--blue-darker);
}

.cardslot img {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
-------------------------------------------------------------------
PLAYER
-------------------------------------------------------------------
*/

h3 {
    border-radius: 30px;
    background-color: var(--blue-lightest);
    padding: 1vmin 2vmin;
    color: var(--blue-darker);
    margin-bottom: 1vmin;
    text-align: center;
	box-shadow: var(--shadow-light);
    font-size: 1.1em;
    line-height: 1.1;
	-webkit-user-select: auto;
}

h3:empty::before {
    content: "Enter Name";
}

h3:focus::before {
    content: "";
}

.hole-cards {
	position: relative;
}

.hole-cards img {
    width: 10vmin;
    margin: 0.5vmin;
}

.hole-cards .big {
    width: 47vmin;
    margin: 4vmin;
}

.hole-cards img:nth-of-type(1) {
	transform: rotate(-2deg);
    min-width: 80px;
}

.hole-cards img:nth-of-type(2) {
	transform: rotate(3deg);
    position: absolute;
    min-width: 80px;
    right: 0;
}

.hole-cards .qr {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: var(--shadow);
	padding: 5px;
	background-color: #fff;
	width: 12vmin;
    aspect-ratio: 1/1;
	min-width: 80px;
	z-index: 1000;
    border-radius: 5%;
}

.hole-cards .rotate {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: var(--shadow);
	padding: 5px;
	background-color: #fff;
	width: 8vmin;
    aspect-ratio: 1/1;
	min-width: 65px;
	z-index: 2000;
    border-radius: 5%;
}

.chips {
	text-align: center;
}

.chips .bet {
	color: var(--yellow);
}

.hole-cards .dealer {
	width: 45px;
	border-radius: 50%;
	background-color: var(--yellow);
	position: absolute;
	right: 0px;
	bottom:0px;
}

/*
-------------------------------------------------------------------
MODAL
-------------------------------------------------------------------
*/

aside {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/
@media (prefers-color-scheme: dark) {
    :root {
        --blue: hsl(var(--achromatic), 10%);
        --font-color: hsl(var(--achromatic), 80%);
    }
}
